@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x:hidden;
  }

body{
    background-size: cover;
    position : relative ;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    color:rgb(122, 216, 16);
}

.name{
    height: 10vh;
    margin-top: 10px;
    display: flex;
    color: rgb(255, 94, 0);
    background-size: 40px;
    border-radius: 12px ;   
    padding:20px;
}

.contains{
    background-color: rgb(8, 25, 54);
    border-radius: 20px 20px 20px 20px;
}
.name h1{
    font-size: 75px;
    padding-right: 10px;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.input{
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    height: 22vh;
    width: 30vw;
    justify-content: flex-start;
    align-items: center;
}
#cityname{
    position: relative;
    width: 30vw;
    height: 5vh;
    margin: 1vh;
    font-size: 20px;
    border-radius: 1rem;
    text-align: center;
    color:rgb(179, 131, 252);
    background-color: rgb(8, 25, 54);
}
#submit{
    width: 50px;
    height: 50px;
    margin: 1vh;
    background-color: white;
    border-radius: 10%;
}
#submit:hover{
    cursor: pointer;
    transition: all 0.3s linear;
    color: white;
}
#card--container{
    margin-top: -30px;
    height: 65vh;
    margin-right: 45px;
}
.result{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1vh;
    width: 23vw;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.549);
    border-radius: 20px;
    
}
.res1{
    opacity: 0%;
}
.result div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sky{
    height: 10vh;
    font-size: 30px;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}
#temp{
    height: 10vh;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
#wind{
    font-size: 30px;
    width: 100%;
    text-align: center;
    height: 10vh;
}
#icon img{
    width: auto;
    height: auto;
}
.contact{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items :center;
    padding-bottom: 10px;
}
a{
    padding: 20px;
}
a:hover{
    transition: all 0.3s linear;
    color:rgb(179, 131, 252);
    transform: scale(1.5);
}

.daytime{
    position: relative;
    
    margin-left: 1200px;
    margin-top: -75px;
    background-color: rgb(106, 14, 0);
    border-radius: 10px;
    padding: 10px 10px;
    color: rgb(255, 236, 32);
}

#ftemp{
    height: 10vh;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
#mintemp{
    height: 10vh;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
#maxtemp{
    height: 10vh;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

#sky:hover{
    background-color: rgb(53, 2, 59);
    border-radius: 20px;
    transition: 0.3s;
}
#temp:hover{
    background-color: rgb(53, 2, 59);
    border-radius: 20px;
    transition: 0.3s;
}
#ftemp:hover{
    background-color: rgb(53, 2, 59);
    border-radius: 20px;
    transition: 0.3s;
}
#mintemp:hover{
    background-color: rgb(53, 2, 59);
    border-radius: 20px;
    transition: 0.3s;
}
#maxtemp:hover{
    background-color: rgb(53, 2, 59);
    border-radius: 20px;
    transition: 0.3s;
}
#wind:hover{
    background-color: rgb(53, 2, 59);
    border-radius: 20px;
    transition: 0.3s;
}
.daytime:hover{
    background-color: #240176d9;
    transition: 0.9s;
}